body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    background-color: hsl(0, 0%, 90%);
}
#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    width: 560px;
    height: 560px;
    border: 2px solid black;

}
.square{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    cursor: pointer;
    user-select: none;
}
.light{
    background-color: hsl(37, 66%, 83%);
}
.light:hover{
    background-color: hsl(37, 66%, 78%);
}
.dark{
    background-color: hsl(27, 36%, 55%);
}
.dark:hover{
    background-color: hsl(27, 36%, 50%);
}
