body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}
.left-side {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.team-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid black;
    margin: 5px;
}
#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    width: 560px;
    height: 560px;
    border: 3px solid hsl(27, 59%, 34%);
    user-select: none;
}

.square {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    cursor: pointer;
    user-select: none;
}
.light {
    background-color: hsl(37, 66%, 83%);
}
.light:hover {
    background-color: hsl(37, 66%, 78%);
}
.dark {
    background-color: hsl(27, 36%, 55%);
}
.dark:hover {
    background-color: hsl(27, 36%, 50%);
}